body {  }

#wrapper { max-width: 1600px; margin-left: auto; margin-right: auto; position: relative; }
#icons_filter { display: none; }
table.dataTable thead .sorting {

}

table.dataTable thead .sorting_asc i:before { content: "\f0de";}

table.dataTable thead .sorting_desc  i:before { content: "\f0dd"; }